* {
  font-family: Helvetica;
  color: #000;
}

html,body,section,div {
  height:100%;
  display: block;
}

/* .layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer {

  flex-grow: 1;
} */