.mainContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titleHome {

    text-align: center;
    margin-top: 0.5em;

}

.borderStyle {

    border-bottom: 2px solid black;
    position: relative;
    left: 48%;
    width: 7%;

}

.imgHome {
    position: relative;
    left: 3%;
    margin-top: 2em;
    height: 25em;
    width: auto;
   

}

